<?xml version="1.0"?>
<!-- Launch file for jaco platform startup by default we don't use the experimental JTAS, this is just for teleop--> 
<launch>

    <arg name="local" default="true"/>

    <machine name="movo1" address="movo1" user="robohub" env-loader="/home/robohub/env.sh" default="true" unless="$(arg local)"/>
    
    <!-- Moveit bringup-->
    	

</launch>
